.grid {
  display: inline-block;
  border: 2px solid #838282;
  user-select: none;
  margin: 0 auto;
  /* To center horizontally */
}

.row {
  display: flex;
}

/* Make the parent container flex and center content */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full viewport height */
}

.tile {
  width: 50px;    /* bigger size */
  height: 50px;
  margin: 1px;
  border: 1px solid #555;
  cursor: pointer;
  transition: background-color 0.3s;
}
.game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 5px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.tile.hovered {
  outline: 2px solid #a69090;
  filter: brightness(1.2);
  cursor: pointer;
}
